In [1]:
# List in R programming:-
# Data structure type datatype :-
# 1.vector :1D similar type of data
# 2.matrix :2D similar type of data
# 3.data.frame :2D
# 4.list

In [2]:
# list is the collection of different tyoes of adat
# means collection of number type data,string type data,vector type data
# and another list can also matrix 
# list is created using list() function

In [8]:
#Creating the list containing string, numbers, vectors and logical values
X=list("Aniket","Gawde",c(21,34,56),TRUE,54.78,89,90,34.56,FALSE)
print(X)

[[1]]
[1] "Aniket"

[[2]]
[1] "Gawde"

[[3]]
[1] 21 34 56

[[4]]
[1] TRUE

[[5]]
[1] 54.78

[[6]]
[1] 89

[[7]]
[1] 90

[[8]]
[1] 34.56

[[9]]
[1] FALSE

In [11]:
#Access data frame from list
#Access data at 1st index
print(X[2])

[[1]]
[1] "Gawde"

In [12]:
#Access data at 3rd index
print(X[3])

[[1]]
[1] 21 34 56

In [20]:
# Name the list of every element
#For eg:- create a list containing a vector, a matrix and a list
L=list(c("jan","feb","mar"),matrix(c(3,9,5,1,2,8),nrow=2,ncol=3),list("green",12.3))
print(L)

#Give the name to the element the list use inbuilt method
#names(Listname existing name)
names(L)=c("First Quarter","Matrix A","I inner List")
#show the list
print(L)

[[1]]
[1] "jan" "feb" "mar"

[[2]]
     [,1] [,2] [,3]
[1,]    3    5    2
[2,]    9    1    8

[[3]]
[[3]][[1]]
[1] "green"

[[3]][[2]]
[1] 12.3


$`First Quarter`
[1] "jan" "feb" "mar"

$`Matrix A`
     [,1] [,2] [,3]
[1,]    3    5    2
[2,]    9    1    8

$`I inner List`
$`I inner List`[[1]]
[1] "green"

$`I inner List`[[2]]
[1] 12.3

In [21]:
#Access the data from the name of list
print(L$"First Quarter")

[1] "jan" "feb" "mar"

In [23]:
#Accesss the data from index list
L[2]

$`Matrix A`
     [,1] [,2] [,3]
[1,]    3    5    2
[2,]    9    1    8

In [25]:
#Manipulate List Element
#Add element at the end of the list
L[4]="Andheri"
print(L)

$`First Quarter`
[1] "jan" "feb" "mar"

$`Matrix A`
     [,1] [,2] [,3]
[1,]    3    5    2
[2,]    9    1    8

$`I inner List`
$`I inner List`[[1]]
[1] "green"

$`I inner List`[[2]]
[1] 12.3


[[4]]
[1] "Andheri"

In [26]:
#Access 4 Element
print(L[4])

[[1]]
[1] "Andheri"

In [27]:
#Remove the ladt element from list
L[4]=NULL #NULL inbuilt command for null
print(L[4])

$<NA>
NULL

In [30]:
#update the 3rd element with new value 
L[3]="Aniket Gawde"
print(L)

$`First Quarter`
[1] "jan" "feb" "mar"

$`Matrix A`
     [,1] [,2] [,3]
[1,]    3    5    2
[2,]    9    1    8

$`I inner List`
[1] "Aniket Gawde"

In [36]:
#Merge a List : means join 2 or more list
#for example : we have 2 List
l1=list(1,2,3)
l2=list("mon","tue","wed")
print(l1)
print("Second list")
print(l2)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

[1] "Second list"
[[1]]
[1] "mon"

[[2]]
[1] "tue"

[[3]]
[1] "wed"

In [37]:
#Merge 2 list l1 and l2 and hold in 3rd list
l3=c(l1,l2)
print(l1)

[[1]]
[1] 1

[[2]]
[1] 2

[[3]]
[1] 3

In [39]:
#check the type of l3
print(class(l3))

[1] "list"

In [40]:
#Convert list into vector : then use inbuilt method unlist()
X=unlist(l3)
print(class(X))
print(X)

[1] "character"
[1] "1"   "2"   "3"   "mon" "tue" "wed"

In [41]:
# We can create a vector with C

In [45]:
#Suppose we have 2 list 
X=list(1:5) 
Y=list(10:14)
print(X)
print(Y)

[[1]]
[1] 1 2 3 4 5

[[1]]
[1] 10 11 12 13 14

In [47]:
#check the datatype of list
print(class(X))
print(class(Y))

[1] "list"
[1] "list"

In [49]:
#perform mathematical opertion on both of list means to add value of 2 list
#note :no any mathematical operation on list
#so we have to change the given loist into vector, use inbuilt method
#unlist()
A=unlist(X)
B=unlist(Y)
print(class(A))
print(class(B))
A+B

[1] "integer"
[1] "integer"

[1] 11 13 15 17 19

In [50]:
# Array in R program : work on 2 Dimension means(matrix)
# Array to hold more then 2 matrix
#Syntax : array(data,dim=(n,row,ncol,no. of matrix))

In [56]:
#Create 2 vectors v1 and v2 of different length
v1=c(5,9,3)
v2=c(10,11,12,13,14,15)
result=array(c(v1,v2),dim=c(2,3,2))
print(result)
result[2,3,2] #index (2nd matrix, 3column, 2nd index )

, , 1

     [,1] [,2] [,3]
[1,]    5    3   11
[2,]    9   10   12

, , 2

     [,1] [,2] [,3]
[1,]   13   15    9
[2,]   14    5    3

[1] 3

In [60]:
# Naming columns and rows and matrix name
# Create 2 vectors v1 and v2 of different lenght
v1=c(5,9,3)
v2=c(10,11,12,13,14,15)
colnames=c("col1","col2","col3")
rownames=c("row1","row2","row3")
matrixname=c("Matrix1","Matrix2")
#create a array with 2 matrix
result=array(c(v1,v2),dim=c(3,3,2),dimnames=list(rownames,colnames,matrixname))
print(result)

, , Matrix1

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

, , Matrix2

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

In [67]:
#Acces data from 2nd matrix all element
print(result[,,"Matrix2"])

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

In [69]:
#Print the third row of the second matrix of the array
print(result[3,,'Matrix2'])

col1 col2 col3
   3   12   15

In [70]:
#print the element in the 1st row and 3rd column of the first matrix of array
print(result[1,3,1])

[1] 13

In [78]:
# Access all data from matrix1 and hold in A
A=result[,,1] #A=result[,,'Matrix1']
# Access all data from matrix1 and hold in B
B=result[,,2]
print("A Matrix")
print(A)
print("B Matrix")
print(B)
print("Sum of Matrix")
print(A+B)

[1] "A Matrix"
     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15
[1] "B Matrix"
     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15
[1] "Sum of Matrix"
     col1 col2 col3
row1   10   20   26
row2   18   22   28
row3    6   24   30

In [80]:
print(result)
apply(result,c(1),sum)

, , Matrix1

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

, , Matrix2

     col1 col2 col3
row1    5   10   13
row2    9   11   14
row3    3   12   15

row1 row2 row3
  56   68   60

In [81]:
answer=apply(result,c(2),sum) #colwise sum
print(answer)

col1 col2 col3
  34   66   84

In [85]:
#String formating in R
#Placing string in the left side
result1 <-format("Gawade", width= 10 ,justify= "l")
print(result1)

[1] "Gawade    "

In [86]:
#String formating in R
#Placing string in the right side
result1 <-format("Aniket", width= 10 ,justify= "r")
print(result1)

[1] "    Aniket"

In [90]:
#String formating in R
#Placing string in the center side
result1 <-format("vijay", width= 10 ,justify= "c")
print(result1)

[1] "  vijay   "

In [93]:
# Rounding off the specified digits
# into 4 digits
result21 <-format(12.3456789, digits=5)
print(result1)

[1] "12.346"

In [94]:
result2 <-format(12.3456789, nsmall=5) #nsmall means he will take no. after the decimal
print(result2)

[1] "12.34568"